$multiplyer-list: (
  "default": 1,
  "medium": 2,
  "large": 3,
  "wide": 4,
);

$directions-list: "top" "right" "bottom" "left";

.grecaptcha-badge {
  display: none !important;
}

[data-fancy-content] {
  display: none;
}

.w100 {
  width: 100%;
}
html {
  overflow-x: hidden;
  max-width: 100%;
}
body {
  width: 100vw;
  max-width: 100%;
  scroll-behavior: auto;
  scroll-behavior: smooth;
  color: var(--color);
  overflow-x: hidden;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollskills__item {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollskills__item-thumb {
  background-color: var(--color);
  border-radius: 40px;
}
body,
html {
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 32px;
  color: var(--medium-red);
  background-color: var(--bg-color);
  height: auto;
  z-index: 1;

  font-family: var(--font-large);
  font-display: swap;
  position: relative;
  touch-action: auto;
  height: auto;

  @include mq(mobile) {
    font-size: 16px;
  }

  &.open-menu {
    overflow: hidden;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../images/fond-grain.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    opacity: 0.1;
    z-index: -1;
  }

  * {
    box-sizing: border-box;
  }
  a {
    font-size: 0.75rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  img,
  svg {
    user-select: none;
  }

  img,
  a {
    outline: none !important;
    user-select: none;
    -webkit-user-drag: none;

    svg {
      pointer-events: none;
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

section button {
  height: 92px;
  width: 398px;
  background: transparent;
  border-radius: 25px;
  border: 2px solid #a6a6a6;
  color: var(--white);
  font-family: var(--font-large);
  font-size: 3rem;
  text-transform: uppercase;

  @include mq(tablet) {
    width: 340px;
  }

  @include mq(mobile) {
    width: 150px;
    height: 50px;
    border-radius: 10px;
  }
}

section {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

.video-background {
  z-index: -10;
  opacity: 0.1;
}

.barbed-wire {
  position: absolute;
}
