

/* Webfont: MangoGrotesque-Black */@font-face {
    font-family: 'MangoGrotesqueBlack';
    src:
         url('./../fonts/MangoGrotesque-Black.woff') format('woff'), /* Modern Browsers */
         url('./../fonts/MangoGrotesque-Black.woff2') format('woff2'), /* Modern Browsers */
         url('./../fonts/MangoGrotesque-Black.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

// font-family: "aktiv-grotesk", sans-serif;
// font-weight: 300;
// font-style: normal;
