.title {
  text-align: center;
  font-size: 10rem;
  line-height: 0.8;
  position: relative;
  text-transform: uppercase;

  @include mq(laptop) {
    font-size: 6rem;
  }

  @include mq(tablet) {
    font-size: 4rem;
  }

  @include mq(mobile) {
    font-size: 6rem;
  }

  .unlock,
  .creativity {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .unlock {
    letter-spacing: 1.5rem;
    color: var(--white);
    opacity: 1;

    @include mq(laptop) {
      letter-spacing: 1rem;
    }

    @include mq(tablet) {
      letter-spacing: 0.55rem;
    }

    @include mq(mobile) {
      letter-spacing: 1rem;
    }

    &:first-of-type {
      margin-left: 1.5rem;

      @include mq(tablet) {
        margin-left: 0.5rem;
      }
    }
  }

  .creativity {
    opacity: 1;
  }

  .scatter {
    position: absolute;
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }
}

.section-home {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title--h2 {
    font-family: var(--font-light);
    font-weight: 300;
    font-size: 1rem;
    display: flex;
    justify-content: center;

    @include mq(mobile) {
      font-size: 1.5rem;
    }
  }
}

.section-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;

  .container-stage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 525px;
    border-radius: 25px;
    border: 2px solid #a6a6a6;
    background: transparent;

    @include mq(tablet) {
      width: 90vw;
      height: 350px
    }

    @include mq(desktop) {
      width: 90vw;
    }

    @include mq(mobile) {
      height: 220px;
      border: 1px solid #a6a6a6;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
      border-radius: 25px;
      transition: opacity 1.5s ease-in-out;
      z-index: 3;
      opacity: 1;

      @include mq(mobile) {
        background: none;
      }
    }

    &:hover::before {
      opacity: 0;
    }
    &__text,
    &__title {
      text-transform: uppercase;
      font-weight: 300;
      z-index: 2;
    }

    &__link {
      display: flex;
      justify-content: center;
    }

    &__text {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      font-family: var(--font-light);
      font-weight: 300;
      font-size: 0.75rem;

      @include mq(mobile) {
        font-size: 1rem;
        margin-bottom: 10.5rem;
      }
    }

    &__title {
      font-size: 10rem;
      color: var(--white);

      @include mq(laptop) {
        font-size: 8rem;
      }

      @include mq(tablet) {
        font-size: 6rem;
      }

      @include mq(mobile) {
        display: none;
      }
    }

    &__anim {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__hover {
      margin-top: var(--margin);
      display: none;
      white-space: nowrap;
      font-size: 10rem;
      color: var(--white);
      z-index: 1;
      animation: scrollText 12s 0.3s linear infinite paused;
      @include mq(mobile) {
        display: flex;
        animation-play-state: running;
      }
    }

    &:hover {
      .container-stage__title,
      .container-stage__text {
        opacity: 0;
      }
      .container-stage__hover {
        display: flex;
        animation-play-state: running;
      }
    }
  }

  @keyframes scrollText {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-29%);
    }
  }

  .text__medium {
    align-self: flex-start;
    margin-left: calc((100% - 1382px) / 2);
    width: calc(50% - ((100% - 1382px) / 2));
    font-family: var(--font-light);
    font-weight: 300;
    text-transform: uppercase;
  }
}

.section-wings {
  &--img {
    position: absolute;
    width: 40%;
    z-index: 1;
    right: 30.58%;
    transform: translateX(50%);
  }

  &--img2 {
    position: absolute;
    width: 40%;
    z-index: 1;
    left: 30.58%;
    transform: translateX(-50%);
  }

  @include mq(tablet) {
    height: 40vh;
  }

  @include mq(mobile) {
    height: 40vh;
  }
}

.section-projets {
  position: relative;
  height: auto;
  display: flex;
  padding-bottom: 5rem;
  justify-content: center;
}

.container-cards {
  margin-top: 20rem;
  width: 100vw;
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
}

.container-cards__card {
  position: absolute;
  width: 65%;
  height: 55vh;
  border-radius: 25px;
  border: 2px solid #a6a6a6;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin);
  overflow: hidden;

  @include mq(desktop){
    width: 80%;
  }

  @include mq(laptop){
    width: 80%;
  }

  @include mq(tablet){
    width: 80%;
  }
}

.card--1 {
  top: 0;
}

.card--2 {
  top: 32px;
}

.card--3 {
  top: 64px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-title {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(mobile) {
    height: 50vh;
  }
}

@media only screen and (max-width: 450px) {
  .container-cards__card.card--1 .card-img {
    content: url('../images/virtual-mobile.png');
  }

  .container-cards__card.card--3 .card-img {
    content: url('../images/rux-mobile.png');
  }
}

.section-contact {
  display: flex;
  align-items: center;
  justify-content: center;

  .contact__logo {
    max-width: 500px;
  }

  .contact__text {
    font-size: 1.5rem;
    max-width: 400px;
    text-transform: uppercase;
    color: var(--light-red);

    @include mq(tablet) {
      max-width: 380px;
    }

    @include mq(mobile) {
      max-width: 80%;
      font-size: 2rem;
      text-align: center;
    }
  }

  .canvas-1 {
    max-width: 80%;
  }

  .canvas-2 {
    align-items: center;
    display: flex;
    z-index: 2;

    @include mq(mobile) {
      display: none;
    }
  }

  .container-contact {
    display: flex;
    flex-direction: column;

    @include mq(mobile) {
      align-items: center;
    }
  }

  .contact__button {
    position: relative;
    overflow: hidden;
    background: none;
    cursor: pointer;

    .button__mask {
      position: relative;
      display: inline-block;
      transition: transform 0.5s ease;

      .button-container {
        display: inline-block;
      }
    }

    .title {
      display: block;
      transition: transform 0.5s ease;
      &:first-child {
        transform-origin: 100% 50%;
      }

      &:last-child {
        transform-origin: 0 50%;
        transform: rotate(30deg);
      }
    }

    &:hover {
      .button__mask {
        transform: translateY(-3.2rem);
      }

      .title:first-child {
        transform: rotate(30deg);
      }

      .title:last-child {
        transform: rotate(0);
      }
    }
  }
}

// --- STAGE ---

.stage-home {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  height: 100vh;

  @include mq(mobile) {
    height: 80vh;
  }

  .stage-home__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 600px;
    text-align: center;
    overflow: hidden;
    color: var(--white);
  }

  .stage-home__title span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 10rem;
    text-transform: uppercase;
    text-align: center;

    @include mq(tablet) {
      font-size: 6rem;
    }

    @include mq(mobile) {
      margin-top: 10rem;
      font-size: 8rem;
    }
  }

  &__text {
    font-family: var(--font-light);
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.stage-about {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  #messenger {
    text-wrap: nowrap;
    font-family: var(--font-light);
    font-size: 10rem;
    position: absolute;
    z-index: 0;
    opacity: 0.7;

    @include mq(desktop) {
      font-size: 8rem;
    }

    @include mq(tablet) {
      bottom: 6%;
      font-size: 4rem;
    }

    @include mq(mobile) {
      bottom: 15%;
    }
  }

  .container-about {
    z-index: 2;
    width: 884px;
    height: 400px;
    border-radius: 25px;
    border: 2px solid #a6a6a6;
    display: flex;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(0) rotateY(0) scaleZ(1);

    @include mq(tablet) {
      height: 900px;
      width: 85%;
      flex-direction: column;
      justify-content: center;
    }

    @include mq(mobile) {
      height: 720px;
    }

    &__blocs {
      display: flex;
      flex-direction: column;
      right: 0;
      max-width: 500px;
      position: absolute;
      transition: all 0.3s ease-in-out;
      transform: translateZ(5px);

      @include mq(tablet) {
        max-width: 95%;
        margin-top: 8rem;
      }
    }

    &__img {
      position: absolute;
      transition: all 0.3s ease-in-out;
      transform: translateZ(10px);
      margin-left: var(--margin);
      max-width: 256px;
      border-radius: 25px;
      border: 2px solid #a6a6a6;
      height: 256px;

      @include mq(tablet) {
        top: 5%;
        margin-left: 0;
      }
    }

    &__text {
      margin: 0 1rem 0 1rem;
      font-family: var(--font-light);
      color: var(--white);
      font-weight: 300;
      font-size: 1rem;


      @include mq(tablet) {
        margin-top: 0rem;
        font-size: 1rem;
      }

      @include mq(mobile) {
        margin-top: 1rem;
        font-size: 1.25rem;
      }
    }
  }

  .container-about:hover .container-about__img {
    transform: translateZ(200px);
  }

  .container-about:hover .container-about__blocs {
    transform: translateZ(100px);
  }
}

.section-expliquation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  &__title {
    margin-top: 2rem;
    margin-bottom: var(--margin);
    font-size: 4rem;
    color: var(--white);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    line-height: 1;
    font-weight: 300;

    @include mq(tablet) {
      margin-bottom: 0;
      margin-top: var(--margin);
    }

    @include mq(mobile) {
      letter-spacing: 0.1rem;
      text-shadow: 0 0 2px;
    }
  }

  &__text {
    max-width: 750px;
    font-family: var(--font-light);
    font-weight: 300;
    color: var(--white);

    @include mq(desktop) {
      max-width: 90%;
    }

    @include mq(mobile) {
      max-width: 90%;
      font-size: 1.5rem;
    }
  }

  &__img {
    border-radius: 25px;
    border: 2px solid #a6a6a6;
    width: 800px;
    height: 450px;

    @include mq(desktop) {
      width: 600px;
      height: auto;
    }

    @include mq(tablet) {
      width: 70%;
      height: auto;
    }

    @include mq(mobile) {
      width: 90%;
      height: auto;
    }
  }
}

.container-exp {
  margin-left: 1rem;
  width: 400%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.exp-1__container {
  display: flex;
  align-items: center;

  @include mq(tablet) {
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    margin-top: var(--margin);
  }

  &__text {
    margin-left: 6rem;
    display: flex;
    flex-direction: column;

    @include mq(desktop) {
      margin-left: 3rem;
    }

    @include mq(tablet) {
      margin-left: 0;
    }
  }
}

.exp-2 {
  p {
    margin-right: 2rem;
    margin-top: 2rem;
  }
}

.exp2__container {
  display: flex;
  width: 100%;

  @include mq(tablet) {
    flex-direction: column;
  }
}

.modale-gallery {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq(tablet) {
    flex-direction: row;
  }

  & img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 25px;
    border: 2px solid #a6a6a6;
    margin-bottom: var(--margin);

    @include mq(tablet) {
      width: 80%;
      height: 150px;
      border-radius: 15px;
    }
  }
}

.text-content {
  margin-left: 6rem;
  flex: 1;

  @include mq(tablet) {
    margin-left: 0;
  }
}

.section-skills {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(tablet) {
    height: 140vh;
  }

  &__title {
    font-size: 10rem;
    text-transform: uppercase;
    line-height: 1;
    margin-left: var(--margin);
    text-align: center;

    @include mq(tablet) {
      font-size: 6rem;
    }
  }

  .skills__container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include mq(desktop) {
      margin-left: 4rem;
    }

    @include mq(tablet) {
      flex-direction: column;
      margin-left: 0;
    }
  }

  .skills__image {
    width: 800px;

    @include mq(desktop) {
      width: 700px;
      height: auto;
    }

    @include mq(tablet) {
      width: 100%; 
    }
  }

  .skill-container {
    display: flex;
    align-items: flex-end;
    height: 15rem;
    margin-right: var(--margin);

    @include mq(tablet) {
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem; 
    }
  }

  .skill-label {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 300;
    margin-right: 0.2rem;
    font-family: var(--font-light);
    color: var(--white);

    @include mq(tablet) {
      text-align: center;
      font-size: 0.75rem;
      writing-mode: horizontal-tb;
      transform: none;
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }

  .skill-bar {
    width: 2.5rem;
    background: var(--medium-red);
    transition: height 2s ease;
    height: 0%;
    position: relative;

    @include mq(tablet) {
      width: 100%;
      height: 2.5rem;
      transition: width 2s ease; 
    }
  }

  .skill-bar span {
    display: block;
    writing-mode: vertical-lr;
    transform: translateX(-50%) translateY(-50%) rotate(180deg);
    position: absolute;
    left: 50%;
    top: 50%;
    color: var(--white);
    font-family: var(--font-light);
    font-size: 0.5rem;
    font-weight: 300;
    text-transform: uppercase;

    @include mq(tablet) {
      text-align: center;
      font-size: 1rem;
      writing-mode: horizontal-tb;
      transform: translate(-50%, -50%);
    }
  }

  .active {
    height: var(--skill-level);

    @include mq(tablet) {
      width: var(--skill-level);
      height: 2.5rem;
    }
  }

  .skills {
    display: flex;

    @include mq(tablet) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}

// PROJECTS PAGES

.section-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150vh;
  position: relative;

  @include mq(mobile) {
    height: 100vh;
  }

  &__title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    text-align: center;
    overflow: hidden;
    color: var(--white);

    @include mq(mobile) {
      width: 90%;
    }
  }

  &__title span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 10rem;
    text-transform: uppercase;

    @include mq(desktop) {
      font-size: 8rem;
    }

    @include mq(mobile) {
      font-size: 6rem;
    }
  }
}
.section-works__img {
  border-radius: 25px;
  border: 2px solid #a6a6a6;
  width: 50vw;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.5s ease-in-out;
}

.section-works__scaleup {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @include mq(mobile) {
    flex-direction: column;
  }

  .section-desc__container {
    display: flex;
    flex-direction: column;
    max-width: 50%;

    @include mq(mobile) {
      max-width: 90%;
    }
  }

  .section-desc__bigtext {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
  }
  .section-desc__text {
    color: var(--white);
    font-family: var(--font-light);
    font-weight: 300;
    max-width: 650px;
  }

  .section-desc__img {
    border-radius: 25px;
    border: 2px solid #a6a6a6;
    margin-left: 2rem;
    height: 450px;
    max-width: 40%;

    @include mq(mobile) {
      max-width: 90%;
      height: 300px;
      margin-left: 0;
    }
  }
}
